 *{
    font-family: 'General Sans', sans-serif;
}
.inter {
    font-family: "Inter", sans-serif;
}

/* Carousel starts  */
.carousel-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 80px 0px;
}

.carousel-slider .swiper-wrapper {
  display: flex;
  align-items: center;
  max-height: 200px;
  max-width: 100%;
}

.carousel-slider .swiper-slide {
  width: clamp(200px, 85vw, 493px);
  height: clamp(550px, 25vw, 293px);
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slider .swiper-slide {
         background: linear-gradient(0deg, rgb(255 255 255 / .1) 0%, rgb(255 255 255 / 10%) 100%), linear-gradient(230deg, rgba(30, 62, 246, 0.717) -.14%, #fff0 39.21%, rgba(255, 255, 255, 0.05) 53.06%, rgba(47, 63, 240, 0.734) 80.99%), #4A78ED !important;
    /* filter: blur(2px); */
    border-radius: 25px;
}

.carousel-slider .swiper-slide.swiper-slide-next,
.carousel-slider .swiper-slide.swiper-slide-prev {
        background: linear-gradient(0deg, rgb(255 255 255 / .1) 0%, rgb(255 255 255 / 10%) 100%), linear-gradient(230deg, rgb(227 231 255 / 80%) -.14%, #fff0 39.21%, rgb(255 255 255 / 5%) 53.06%, rgb(147 154 236 / 100%) 130.99%), #4A78ED !important;
    filter: blur(2px);
    border-radius: 25px;
}
.swiper-slide{
    visibility: hidden;
}
.swiper-slide-active {
    visibility: visible;
}

.carousel-slider .swiper-slide.swiper-slide-active {
  /* background-color: #7965f3;    background-image: linear-gradient(230deg, #ffebe37a, #fff0 39.21%, #fffeff0d 53.06%, #f0d7ff7a 81.99%); */
  background-color: #4A78ED;    background-image: linear-gradient(230deg, #ffe3e37a, #fff0 39.21%, #fffeff0d 53.06%, #f0d7ff7a 81.99%);
    /* border: 1px solid #4A78ED; */
    border-radius: 25px;
}

.carousel-slider .item-content {
  width: 100%;
  height: 100%;
}


@media only screen and (min-width: 64rem) {
    .carousel-slider .swiper-slide {
    width: clamp(600px, 55vw, 600px);
    height: clamp(440px, 25vw, 440px);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .swiper-slide{
        visibility: visible !important;
    }

}

.carousel-btn {
    background: #F7F7F7;
    padding: 6px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #231942;
    cursor: pointer;
}
.carousel-btn-active {
    background: linear-gradient(270deg, #dbddf4 0%, #b0adfd 100%) !important;
}
.carousel-btn:hover {
    background: #f3f3f3;
}
.icon-box{
    border: 1px solid var(--copy-of-squadiqs-spectacular-site---base--white);
    background-image: radial-gradient(circle at 204% 135%, #ffffff7d, #ffffff12);
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    display: flex;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
